body {
  counter-reset: counter-rchunks;
}
#content {
  padding-left: 3em;
}
#main {
  padding-left: 3em;
}
div.sourceCode {
  counter-increment: counter-rchunks;
  position: relative;
  overflow: visible;
}

#post {
  width: 75%;
  font-size: 1em;
}

@media only screen and (max-width: 70em) {
  #post {
    width: 100%;
    font-size: 1em;
  }
}

.hasCopyButton {
  position: relative;
}

.btn-copy-ex {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}

.hasCopyButton:hover button.btn-copy-ex {
  visibility: visible;
}

.verysmall td {
  line-height: 14px;
  vertical-align: bottom;
  font-size: 10pt;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}

h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}

.aright {
  text-align: right;
}

.right {
  float: right;
  margin: 60px;
}

.bright {
  float: right;
  margin: 60px;
  clear: both;
}

.goright {
  margin-left: 60%;
}

.goright95 {
  margin-left: 90%;
}

.nobullet li {
  list-style-type: none;
}

.pre-scrollx {
  max-width: 350px;
  overflow-x: auto;
  margin-left: 30%;
}

svg:not(:root) {
  overflow: hidden;
  border-radius: 3px;
}

#main :not(.leaflet-control) > a {
  font-weight: 400;
}